body{
    margin: 0%; /* مسافة البودي 0*/
}

div h1{
    color: #625050;
    /*Backgroun*/
    background-color: antiquewhite ;
    background-size:contain;
    
    /*padding*/
    padding: 5px;/*borde or 5% المسافة بين النص  و */
    /*padding-left جهة معينة*/


    /*text*/

    text-align: center;/* ware*/

    /*border*/

    border-color: rgb(177, 125, 47);/* frame*/
    border-style: solid;/* border type solid just a line */
    border-width: 4px; /*width*/
    /* or - border:solid black 3px ;*/
    border-bottom:solid rgb(250, 230, 187) 5px ;
    border-bottom-width: 50px;
    /* bottom top right left*/
   outline:firebrick; 

   margin-bottom: 10px;

   
}
